<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Genres</title>
</head>
<main>
  
  <div class="genTable">
    <table>
      <tr>
        <th colspan="3" align="center">Sr. No.</th>
        <th colspan="3" align="center">Genre Name</th>
        <th colspan="3" align="center">Genre Id</th>
        <th colspan="3" align="center"> Book </th>
      </tr>
      <% for(var i=0;i<genreShow.length; i++) { %>
        <tr>
          <td colspan="3" align="center"><%=i%></td>
          <td colspan="3" align="center"><%=genreShow[i].name%></td>
          <td colspan="3" align="center"><%=genreShow[i]._id%></td>
          <td colspan="3" align="center"><a href="<%=genreShow[i]._id%>">Book</a></td>
        </tr>
      <% }%>
    </table>
  </div>
</main>
<body>  
</body>
</html>