<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login@Test</title>
    <link rel="stylesheet" href="../Login/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="background">
        <div class="text">
          <h1>Login</h1>
          <p>No Account? <a href="/login-signup/signup">Sign up</a></p>
        </div>
        <div class="box">
          <p id="loginError"><%=loginError%></p>
          <form class="form" method="POST" action="/auth">
            <input
              type="text"
              name="usernameOrEmail"
              class="username"
              placeholder="Username"
              required
            />
            <input
              type="password"
              name="password"
              class="password"
              placeholder="Password"
              required
            />
            <input type="submit" class="button" value="Login" />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
